@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&family=Roboto:wght@100;300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('./../images/twitter_background.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 60px;
  background-color: rgb(45, 127, 233);
}
nav h1 {
  font-size: 35px;
  color: rgb(240, 233, 233);
}

ul {
  display: flex;
  gap: 50px;
  font-size: 20px;
}
a,
li {
  text-decoration: none;
  list-style: none;
  color: white;
  background-color: transparent;
}

li:hover {
  transform: scale(1.1);

  background-color: transparent;
}
li a:hover {
  color: rgb(17, 17, 17);
}

.signup,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.signup {
  background-color: rgba(10, 125, 233, 0.3);
  width: max-content;
  margin: auto;
  height: max-content;
  margin-top: 70px;
  padding: 40px 50px;
  box-shadow: 1px -1px 52px -4px rgba(255, 255, 255, 0.74);
  -webkit-box-shadow: 1px -1px 52px -4px rgba(255, 255, 255, 0.74);
  -moz-box-shadow: 1px -1px 52px -4px rgba(255, 255, 255, 0.74);
}
form {
  width: 100%;
  gap: 20px;
}
input {
  width: 400px;
  height: 30px;
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.btn {
  width: 400px;
  height: 30px;
  margin: 10px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(36, 103, 247);
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.06);
  background-color: rgb(17, 17, 17);
}
